apiVersion: apps/v1
kind: Deployment
metadata:
  name: prefect-mcp-server
spec:
  template:
    spec:
      containers:
        - name: prefect-mcp-server
          env:
            - name: ENVIRONMENT
              value: dev
            - name: LOG_LEVEL
              value: INFO
